<template>
  <header-app/>
  <v-app>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import Cards from "@/components/Cards.vue";
import Products from "@/components/Products/Products.vue";
import HeaderApp from "./HeaderApp.vue";
import {pusher} from "../services/pusher.js";
import {useAuthStore} from "@/router/stores/auth";

export default {
  name: 'App',
  components: {
    Cards,
    Products,
    HeaderApp
  },
  mounted() {
    const authStore = useAuthStore();
    authStore.getUsers();

    const privateChannelNotifications = pusher.subscribe('notifications');
    privateChannelNotifications.bind('task-created', function(data) {
      console.log('Received data:', data);
    });
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
